@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

/*Basic styles*/ 

body {
  background: #D4DFFA;
  color: black;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust:100%;
  scroll-behavior: smooth;
  align-items: center;
  justify-content: space-evenly;
}

#loader {
  border: 12px solid #45087B;
  border-radius: 50%;
  border-top: 12px solid #6DF418;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.s-head {
  font-weight: 400;
  width: 100%;
  padding-left: 10px;
  margin: 25px 0 30px 0;
  color: #42156D;
  font-size: 22px;
  font-family: 'Ubuntu', san-serif;
}

.h-head {
  font-weight: 400;
  width: 100%;
  text-align: center;
  margin: 95px 0 30px 0;
  color: #42156D;
  font-size: 25px;
  font-family: 'Ubuntu', san-serif;
}

.login {
  position: fixed;
  top: calc(50% - 20px);
  left: calc(50% - 30px);
  padding: 12px 18px 12px 18px;
  color: #3B0B55;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

/*Header*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #431167;
  margin-bottom: 100px;
  box-shadow: 0 0 10px #000000AB;
}

header logo {
  position: absolute;
  top: 18px;
  left: 15px;
  color: white;
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}

header logo span {
  color: orange;
}

header logo:hover {
  text-shadow: 0 0 10px #000000AB;
}

header .icons {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 130px;
  display: flex;
  justify-content: space-evenly;
}

header #hico,
header #aico,
header #pico {
  color: white;
  font-size: 20px;
  padding: 5px 0 0 5px;
  width: 30px;
  height: 30px;
}

#pico {
  font-size: 25px;
}

header #aico:hover,
header #hico:hover,
header #pico:hover{
  color: #48E918;
}

/*Product Card*/

.PRODUCTS {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 80px 0px;
  padding-left: 16px;
  min-height: 200px;
}

.product {
  margin-bottom: 22px;
  padding-right: 25px;
  width: calc(50% - 25px);
}

.product img {
  border: 3px solid #291472;
  box-shadow: inset 0 0 15px #000000AB;
  background: #49218E;
  min-height: 130px;
  width: 100%;
  border-radius: 12px;
  margin-bottom: -10px;
}

.product img:hover {
  box-shadow: 0 0 15px #000000AB;
}

.product .name {
  padding-right: 7px;
  color: darkorange;
  font-size: 15px;
  font-family: 'Poppins', san-serif;
}

.product .cost {
  margin-top: -12px;
  padding-right: 7px;
  color: #210B57;
  font-size: 17px;
  font-family: 'Poppins', san-serif;
}

.product span {
  font-size: 15px;
  color: #000000B5;
  font-family: 'Poppins', san-serif;
}

@media (min-width: 600px) {

  .product {
    width: calc(33.33% - 25px);
  }

  .product img {
    min-height: 240px;
  }

  .product .name {
    font-size: 19px;
  }

  product .cost {
    font-size: 21px;
  }
  
}

/*Home*/

.search {
  width: calc(100% - 20px);
  margin-top: 100px;
  margin-left: 10px;
  height: 45px;
  display: flex;
  background: white;
  border-radius: 6px;
}

.search i {
  border-radius: 6px 0 0 6px;
  background: white;
  width: 50px;
  font-size: 16px;
  color: #6E1A7E;
  padding-top: 14px;
  padding-right: -6px;
  text-align: center;
}

.search input {
  width: calc(100%-45px);
  font-size: 16px;
  color: black;
  font-family: 'Poppins', san-serif;
  background: white;
  border-radius: 0 6px 6px 0;
  outline: 0;
  border: 0;
  width: calc(100% - 50px);
  padding-right: 8px;
  height: 100%;
}

.banner {
  text-align: center;
  box-shadow: 0 0 5px #000000AB;
  border-radius: 7px;
  width: calc(100% - 60px);
  margin: 30px 10px 30px 10px;
  background: #754BC9;
  padding: 20px;
}

.banner a {
  text-decoration: none;
}

.banner h1 {
  font-size: 20px;
  color: white;
  font-family: 'Poppins', san-serif;
}

.banner h1 span {
  color: #84CF23;
}

.banner p {
  padding-top: 10px;
  font-size: 15px;
  color: white;
  font-family: 'Poppins', san-serif;
}

.banner button {
  background: #84CF23;
  font-size: 15px;
  color: #6C157A;
  font-family: 'Poppins', san-serif;
  border-radius: 6px;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  border: 0;
  outline: 0;
  height: 50px;
  width: 170px;
  transition: all 0.5s ease;
}

.banner button:hover a {
  color: white;
}

.banner button:hover {
  border: 3px solid #84CF23;
  background: #DEF0ED00;
  color: white;
}

.productsH{
  margin-top: -80px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 0;
}

.productsH {
  margin-top: 0;
}

.productsH div {
  margin: auto;
}

.productsH a {
  text-align: right;
  margin: auto;
  width: 50%;
  text-decoration: none;
  font-size: 16px;
  color: blue;
  font-family: 'Poppins', san-serif;
}

.productsH a:hover{
  color: red;
}

@media (min-width:600px) {

.banner {
  padding: 75px 20px 75px 20px;
}

}

/*Search page */

.line {
  padding-top: 80px;
  font-size: 16px;
  color: #106E6B;
  font-family: 'Poppins', san-serif;
  padding-left: 15px;
}

.line span {
  color: black;
}

/*Cart */

.total {
  position: fixed;
  bottom: 40px;
  left: 10%;
  width: 80%;
  height: 50px;
  background: #241B67;
  border-radius: 8px;
  box-shadow: 0 0 10px #000000AB;
  display: flex;
}

.total p,
.total a {
  color: white;
  font-family: 'Poppins', san-serif;
  font-size: 17px;
  margin: auto;
}

.tet {
  width: 66%;
  display: flex;
  justify-content: space-evenly;
}

.total a {
  color: orange;
}

.total span {
  width: 34%;
  border-radius: 0 8px 8px 0;
  margin: auto;
  background: #84CF23;
  color: #55145A;
  font-family: 'Poppins', san-serif;
  font-size: 16px;
  padding: 15px 0 0 0;
  height: calc(100% - 15px);
  text-align: center;
}

.total span a {
  text-decoration: none;
  color: #55145A;
}

.total span:hover,
.total span:hover a {
  color: white;
  background: red;
}

@media (min-width:600px) {
  
  .total {
    width: 60%;
    left: 20%;
  }
  
}

@media (min-width:1200px) {

  .total {
    width: 50%;
    left: 25%;
  }

}

/*Profile */

.PROFILE {
  padding-top: 70px;
  padding-bottom: 120px;
}

.profile {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.user {
  display: flex;
  width: calc(100% - 50px);
  margin: 13px 13px 15px 13px;
  padding: 12px 12px 0 12px;
  border-radius: 7px;
  background: #252B7E;
  box-shadow: 0 0 10px #000000AB;
}

.user img {
  margin-right: 12px;
}

.user .det {
  width: calc(100% - 70px);
  margin-top: -7px;
}

.user p {
  color: white;
  font-family: 'Poppins', san-serif;
  font-size: 16px;
}

.user span {
  color: #85F514;
}

.user i {
  color: orange;
}

#WPRODUCTS {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-bottom: 20px;
  min-height: 250px;
}

#WPRODUCTS::-webkit-scrollbar {
  display: none;
}

#WPRODUCTS #wproduct {
  flex: 0 0 auto;
  margin-bottom: 0px;
}

.wp h1 {
  padding-left: 13px;
  padding-top: 10px;
  color: #140E64;
  font-size: 20px;
  font-family: 'Ubuntu', san-serif;
}

.wp h1::after {
  content: "";
  display: block;
  width: 50px;
  padding-top: 1px;
  border-bottom: 2px solid orange;
}

details {
  width: calc(100% - 50px);
  max-width: 800px;
  margin: 0 auto;
  border: 3px solid #691085;
  border-radius: 8px;
  padding: 12px;
}

details summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

details summary .arrow {
  width: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1px;
}

details summary .arrow svg {
  height: 40px;
}

details summary .arrow button {
  height: 40px;
  text-align: center;
  background: #29097F;
  color: white;
  font-size: 18px;
  padding: 6px 10px 5px 10px;
  border-radius: 8px;
}

details summary b {
  margin-left: 5px;
  color: #431054;
  font-size: 18px;
  font-family: 'Poppins', san-serif;
}

.ORDERS {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.order {
  width: calc(100% - 28px);
  background: #6E21B2;
  border-radius: 8px;
  box-shadow: 0 0 10px #000000AB;
  margin: 13px 0 2px 0;
  padding: 15px 14px 15px 14px;
}

.order .top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.order button {
  text-align: center;
  color: #2F0F94;
  font-size: 23px;
  background: #31DA14;
  width: 40px;
  height: 40px;
  padding: 6px 0 11px 0;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.order button:hover {
  color: white;
  background: #2F0F94;
  border: 2px solid #11F70E;
}

.order p,
.order b {
  color: white;
  font-size: 15px;
  font-family: 'Poppins', san-serif;
}

.order b {
  color: orange;
  font-size: 18px;
}

.order p span {
  color: #64EF0C;
}

/* Shop */

.catH {
  display: flex;
  justify-content: space-between;
  width: calc(100%-40px);
  margin: 20px;
  height: 40px;
}

.catH p {
  color: #3E1E7E;
  font-family: 'Poppins', san-serif;
  font-size: 18px;
}

.catH select {
  background: white;
  color: #3E1E7E;
  font-family: 'Poppins', san-serif;
  font-size: 16px;
  padding-left: 10px;
  border-radius: 4px;
  border: 2px solid #3E1E7E;
  outline: none;
}



/*About*/

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.about img {
  margin-top: 5px;
  width: 90%;
  height: auto;
  border-radius: 6px;
  box-shadow: 0 0 10px #000000AB;
}

.about p {
  width: 90%;
  color: #65107E;
  font-family: 'Poppins', san-serif;
  font-size: 16px;
}

.about p .span {
  color: orange;
}

.about p span {
  color: black;
  font-family: 'Poppins', san-serif;
  font-size: 16px;
}

.about p span i {
  color: orange;
}

.tofs {
  width: 90%;
  margin: 30px 5% 20px 5%;
}

.tofs div {
  padding-left: 0;
  margin-bottom: 15px;
}

.tofs p {
  color: black;
  font-family: 'Poppins', san-serif;
  font-size: 15px;
}

.tofs span {
  color: #141E67;
  font-family: 'Poppins', san-serif;
  font-size: 17px;
  margin-bottom: 15px;
}

.poweredBy {
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
  color: #141E67;
  font-family: 'Poppins', san-serif;
  font-size: 15px;
}

.poweredBy i {
  color: orange;
}

.poweredBy span {
  margin: auto;
  color: orange;
  font-family: 'Poppins', san-serif;
  font-size: 15px;
}

.poweredBy:hover {
  text-shadow: 0 0 10px #000000AB;
}

@media (min-width:600px) {
  
  .about p {
    width: 50%;
    margin-top: 5px;
  }
  
  .about img {
    width: 42.5%;
  }
  
  .tofs {
    width: 95%;
    margin: 30px 3% 20px 3%;
  }
  
  .order {
    width: calc(49% - 28px);
  }
  
}

/*Product page*/

.page {
  margin-bottom: 10px;
  margin-top: 70px;
  margin-left: -10px;
  width: calc(100% + 18px);
}

.images {
  display: flex;
  flex-wrap: wrap;
}

.images img {
  border: solid #1D28A1;
  border-width: 0 3px 3px 0;
}

.images img:hover {
  box-shadow: 0 0 10px #000000AB;
}

.text {
  padding-left: 20px;
  padding-right: 15px;
  width: calc(100% - 35px);
}

.text .name {
  font-family: 'Poppins', san-serif;
  font-size: 20px;
  color: orange;
}

.text .cost {
  font-family: 'Poppins', san-serif;
  font-size: 22px;
  color: #1D28A1;
}

.btns {
  margin-bottom: 15px;
  display: flex;
}

.btns .buy,
.btns .cart,
.btns .wish {
  margin-right: 20px;
  height: 18px;
  padding: 13px 10px 16px 10px;
  color: white;
  text-align: center;
  background: #121C82;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Poppins', san-serif;
}

.btns .wish {
  width: 50px;
  height: 38px;
  padding-top: 10px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 20px;
  color: #1AE820;
}

.btns a {
  text-decoration: none;
  color: white;
}

.btns .cart:hover,
.btns .buy:hover {
  background: red;
  box-shadow: 0 0 10px #000000AB;
}

.qty {
  display: flex;
  margin-bottom: -10px;
}

.qty select {
  border-radius: 6px;
  margin-top: 18px;
  margin-right: 15px;
  color: #360F83;
  font-family: 'Poppins', san-serif;
  font-size: 17px;
  border: 2px solid #461C9A;
  outline: 0;
  background: white;
  padding-left: 10px;
  height: 40px;
  width: 70px;
}

.qty p {
  color: black;
  font-family: 'Poppins', san-serif;
  font-size: 15px;
}

.details {
  width: 95%;
  margin-top: 5px;
}

.details p {
  color: black;
  font-size: 16px;
  font-family: 'Poppins', san-serif;
}

.details span {
  color: #320E61;
  font-size: 16px;
  font-family: 'Poppins', san-serif;
}

.description {
  width: calc(100% - 35px);
  padding: 0 15px 30px 20px;
}

.description h1 {
  color: #140E64;
  font-size: 20px;
  font-family: 'Ubuntu', san-serif;
}

.description span {
  color: #140E64;
  font-size: 16px;
  font-family: 'Poppins', san-serif;
  margin-bottom: 10px;
}

.description h1::after {
  content: "";
  display: block;
  width: 50px;
  padding-top: 1px;
  border-bottom: 2px solid orange;
}

.REVIEWS {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 120px;
  width: calc(100% - 70px);
  padding: 0 12px 12px 12px;
  border-radius: 8px;
  border: 3px solid #3E1B78;
}

.REVIEWS h1 {
  color: #140E64;
  font-size: 20px;
  font-family: 'Ubuntu', san-serif;
}

.review {
  width: 100%;
  padding-bottom: 12px;
  border-bottom: 1.5px solid black;
}

.review p {
  color: orange;
  font-size: 16px;
  font-family: 'Poppins', san-serif;
  margin-bottom: -1px;
}

.review a {
  margin-top: -10px;
  color: #140E64;
  font-size: 12px;
  font-family: 'Poppins', san-serif;
}

.input {
  padding-top: 15px;
}

.input textarea {
  height: 70px;
  width: 90%;
  outline: 0;
  border: 2px solid #10186A;
  border-radius: 6px;
  padding-top: 2px;
  padding-left: 10px;
  color: black;
  font-size: 16px;
  font-family: 'Poppins', san-serif;
  margin-bottom: 15px;
}

.input .s {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.input .s input {
  height: 35px;
  width: calc(100% - 60px);
  outline: 0;
  border: 2px solid #10186A;
  border-radius: 6px;
  padding-left: 10px;
  color: black;
  font-size: 16px;
  font-family: 'Poppins', san-serif;
  margin-bottom: 5px;
}

.input .s button {
  margin: -5px 0 0 15px;
  height: 40px;
  text-align: center;
  background: #29097F;
  color: white;
  font-size: 15px;
  font-family: 'Poppins', san-serif;
  padding: 7px 10px 6px 10px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.input button:hover {
  border: 2px solid #31DA14;
}

.input input:hover,
.input textarea:hover {
  box-shadow: 0 0 10px #000000AB;
}


@media (min-width:600px) {

.page1,
.page2 {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
}

.page2 {
  width: 100%;
  margin: 0 auto;
}
  
.images {
  width: 50%;
}

.text {
  width: calc(40% - 35px);
}
  
}

/*Checkout*/

.form {
  border-top: 3px solid #1D28A1;
  margin-left: -5px;
  width: calc(100% + 13px);
}

form,
.form1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.form2 {
  width: 100%;
  margin: 0 auto;
}

.back {
  position: fixed;
  top: 90px;
  left: 20px;
  text-align: center;
  background: #11216C;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  padding-top: 10px;
  height: 30px;
  width: 40px;
}

.back a i {
  color: white;
}

.back:hover {
  background: red;
  box-shadow: 0 0 10px #000000AB;
}

form label {
  width: 85%;
  padding-left: 18px;
  color: #10186A;
  font-size: 16px;
  font-family: 'Poppins', san-serif;
}

.form input {
  height: 40px;
  width: 100%;
  outline: 0;
  border: 2px solid #10186A;
  border-radius: 6px;
  padding-left: 10px;
  color: black;
  font-size: 16px;
  font-family: 'Poppins', san-serif;
  margin-bottom: 15px;
}

.form input:hover {
  box-shadow: 0 0 10px #000000AB;
}

.no {
  width: 38.5%;
  margin-right: 12px;
  margin-bottom: 30px;
}

.add {
  margin-bottom: 20px;
}

.PRODUCTS-X {
  margin-top: 5px;
  width: calc(100% - 23px);
  padding: 0 15px 15px 15px;
  border: 2px solid #19206A;
  border-radius: 8px;
  margin-bottom: 20px;
}

.product-x {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product-x p {
  color: orange;
  width: 70%;
  margin: auto;
  text-align: left;
}

.product-x a {
  text-align: right;
  width: 30%;
}

.product-x span {
  color: black;
}

.product-x button {
  margin-left: 10px;
}

.total-check {
  margin-top: 12px;
  border-top: 1.5px solid #073F41;
  padding-top: 12px;
  width: 100%;
  display: flex;
}

.total-check p {
  margin: auto;
  width: calc(100% - 100px);
}

.total-check a {
  margin: auto;
  font-style: 16px;
}

.pmet {
  margin-top: 5px;
  margin-left: 18px;
  width: 85%;
}

.pmet img {
  border: 2px solid #19206A;
  border-radius: 6px;
  background: white;
  height: 70px;
  border: 2px solid #4BD626;
}

form .button {
  margin-left: 18px;
  width: 87%;
  text-align: center;
  height: 35px;
  padding-top: 12px;
  background: #2B147C;
  color: #4BD626;
  font-size: 18px;
  font-family: 'Poppins', san-serif;
  border-radius: 7px;
  border: 0;
  outline: 0;
  margin-top: 30px;
  margin-bottom: 20px;
}

form .button:hover {
  background: red;
  color: white;
  box-shadow: 0 0 10px #000000AB;
}

@media (min-width:600px) {
  
form {
  justify-content: space-evenly;
}

.form1,
.form2 {
  width: 48%;
}

.PRODUCTS-X {
  width: 90%;
  margin: 0 auto;
}

.pmet {
  margin-top: 18px;
  margin-left: 3px;
}

form .button {
  margin-left: 3px;
}

#orderSum {
margin-left: -15px;
}

}

@media (max-width:600px) {

.form2 {
  display: flex;
  flex-wrap: wrap;
}

}
